#success-message{
    background-color: azure;
    color: green;
    position:absolute;
    padding: 10px;
    margin: 10px;
    display: none;
    top: 15px;
    right: 15px;
}

#error-message{
    background-color:azure;
    color: red;
    position:absolute;
    padding: 10px;
    margin: 10px;
    display: none;
    top: 15px;
    right: 15px;
}
.delete-btn{
    cursor: pointer;
}